h1{
    color: green;
    letter-spacing: 15px;
    word-spacing: 20px;
    text-align: center;
}
h2{
    text-decoration: overline;
    writing-mode: vertical-lr;
}
h3{
    text-decoration: line-through;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face{
    font-family: "LidakzOne";
    src: url(LidakzOne_PERSONAL_USE_ONLY.otf);
}
h4{
    text-decoration: underline;
    font-family: "LidakzOne";
    color: blue !important;
}
#normalText{
    font-style: normal;
}
#italicText{
    font-style: italic;
}
#obliqueText{
    font-style: oblique;
}